@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


html {
  background: url(img/bg4.jpg);
  -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
}
.container {
  position: relative;
  width: 500px;
  margin: auto;
  text-align: center;
  padding-top: 10%;
}


body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.gif{
  width: 335px;
  height: 335px;
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
}

input {
  position: fixed;
  left: -20px;
  top: -20px;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  cursor: crosshair;
}

.input-zombie:checked {
  counter-increment: littledevil;
}
.sum {
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 30px;
  background: rgba(0, 0, 0, 0.5);
  max-width: 220px;
  font-family: 'VT323';
  color: #fff;
  text-transform: uppercase;
}


.sum:after {
  content: counter(littledevil);
}
.input-zombie ~ .minion {
  opacity: 0;
  -webkit-transition: 0.3s cubic-bezier(0, .43, 1, 0);
  transition: 0.3s cubic-bezier(0, .43, 1, 0);
  -webkit-animation: move 6s infinite alternate;
  animation: move 6s infinite alternate;
}

.input-zombie1:not(:checked) ~ .minion1, .input-zombie2:not(:checked) ~ .minion2, .input-zombie3:not(:checked) ~ .minion3, .input-zombie4:not(:checked) ~ .minion4, .input-zombie5:not(:checked) ~ .minion5, .input-zombie6:not(:checked) ~ .minion6, .input-zombie7:not(:checked) ~ .minion7, .input-zombie8:not(:checked) ~ .minion8 {
  opacity: 1;
}

.input-zombie1:checked ~ .minion1 span, .input-zombie2:checked ~ .minion2 span, .input-zombie3:checked ~ .minion3 span, .input-zombie4:checked ~ .minion4 span, .input-zombie5:checked ~ .minion5 span, .input-zombie6:checked ~ .minion6 span, .input-zombie7:checked ~ .minion7 span, .input-zombie8:checked ~ .minion8 span {
  display: block;
}


.minion {
  position: absolute;
  left: 0;
  cursor: crosshair;
  background-image: url(img/enemy4.gif);
  width: 280px;
  height: 350px;
  z-index: 2;
}
.minion>span {
  display: none;
  position: absolute;
  z-index: 2;
}
.minion>span:before {
  content: url(img/bullet-shot-hole.png);
}
.minion1 {
  top: 10%;
  animation-delay: -2s!important;
  transform: scale(0.4);
}
.minion2 {
  top: 20%;
  animation-delay: -41s!important;
  transform: scale(0.3);
}
.minion3 {
  top: 30%;
  animation-delay: -3s!important;
  transform: scale(0.51);
}
.minion4 {
  top: 40%;
  animation-delay: -8s!important;
  transform: scale(0.5);
}
.minion5 {
  top: 50%;
  animation-delay: -16s!important;
  transform: scale(0.45);
}
.minion6 {
  top: 60%;
  animation-delay: -9s!important;
  transform: scale(0.52);
}
.minion7 {
  top: 70%;
  animation-delay: -6s!important;
  transform: scale(0.5);
}
.minion8 {
  top: 80%;
  animation-delay: -12s!important;
  transform: scale(0.35);
}

 @keyframes move {
0% {
left:10%;
top: 10%;
}
20% {
left:80%;
top:10%;
}
40% {
top:40%;
left:70%;
}
60% {
top:10%;
left:20%;
}
80% {
top:80%;
left:20%;
}
100% {
top:30%;
left:50%;
}
}

h1  {
  z-index: 1;
  font-size: 50px;
  color: #c20d0d;
  padding-top: 5%;
  font-family: 'VT323';
  text-shadow: 5px 3px 0px #000;
  margin: auto;
  position: absolute;
  top: 5px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
a{
  position: absolute;
  top: 40%;
  left: 90%;
  text-decoration: none;
  font-size: 80px;
  color: rgb(0, 0, 0);
}