@font-face {
  font-family: Quest;
  src: url(quest.ttf);
}
@font-face {
  font-family: Text;
  src: url(text.ttf);
}
.finish,
.start{
  font-family: 'Quest';
  display: block;
  width: fit-content;
  width: -moz-fit-content;
  margin: 180px auto;
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none;
  font-size: 100px;
  color: rgb(0, 0, 0);
}

.quiz {
    
    font-family: 'Text';
    text-align: center;
    font-size: 50px;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
  }
.container34 {
    width: -moz-fit-content;
    width: fit-content;
    margin: 50px auto;
  }

  div[id^="next-lvl"],
  #finish {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    visibility: hidden;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255);
  }
  [id^="next-lvl"]:target,
#finish:target {
  visibility: visible;
  top: 0;
}

.answer {
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  background: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
  height: 50px;
  font-size: xx-large;
  text-align: center;
  margin: 10px;
  width: 700px;
}
.answers{
  display: grid;
  justify-content: center;
  align-content: center;
}
